@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gilda+Display&display=swap');

.ti-facebook:before {
  content: "\e741";
}


body {
  font-family: 'Barlow', sans-serif;
  background-color: $color-grisclair;
}

aside {
  height: auto;
  width: 300px;
  background-color: $background-sidebar;
  max-width: 100%;
}

input,
textarea {
  color: $color-gris;
}

.sidebar {
  color: aliceblue;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

#openmenu {
  display: none;
  position: absolute;
  left: 10px;
  top: 10px;
  z-index: 10000;
}

/* a:hover est utilisé pr mettre une couleur sur l'ensemble des liens lorsque l'utilisateur
 survole avec la souris */

a:hover {
  color: $color-gold;
}

h3 {
  color: aliceblue;
  font-size: 25px;
}

.duc {
  color: $color-gold;
}

main {
  display: flex;
}

.bloc1 {
  background-color: $color-grisclair;
  display: flex;
  flex-direction: column;
  width: 100%;
  color: $color-gris;
  padding-top: 50px;
}

.bloc2 {
  display: flex;
  justify-content: space-around;
}

.bloc3 {
  width: 40%;
  display: flex;
  flex-direction: column;
}

.bloc4 {
  border-radius: 4px;
  width: 40%;
}

.bloc5 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 100px;
  margin-bottom: 100px;

}

.bloc6 {
  color: rgb(225, 225, 225);
  display: flex;
  flex-direction: row;
  gap: 1px;
  padding-top: 100px;
  padding-bottom: 100px;
  justify-content: space-around;
}

.bloc7 {
  width: 40%;
  line-height: 30px;
}

.bloc8 {
  display: flex;
  flex-direction: column;
  width: 35%;


  span {
    font-size: 20px;
    position: relative;
    bottom: 10px;
  }
}

.logo2 {
  width: 30px;
  height: 30px;

}

.logo3 {
  width: 45px;
  height: 45px;
  position: relative;
  bottom: 8px;

}


.logo4 {
  width: 45px;
  height: 45px;

}


.num1 {
  color: $color-gold;
  margin-left: 50px;
}

.infore {
  margin-left: 50px;
}

.emaill {
  margin: 0;
}

.or {
  color: $color-gold;
  margin: 0;
}

iframe {
  width: 83%;
  margin-left: -95px;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

.paris {
  margin-left: 50px;
}

.logotel {
  width: 30px;
  height: 30px;
  margin-left: -7px;
}

.reseaux {
  width: 170px;
  height: 30px;

}

.reseauxsoc {
  margin-top: 30px;

}

.regroupement {
  display: flex;
  margin-top: 50px;
  flex-direction: column;
  gap: 10px;

}

.info-contact {
  display: flex;
  width: 100%;
  margin-bottom: 20px;

  img {
    object-fit: contain;
  }

  .numtel {
    width: 29px;
    margin-left: 5px;

  }

  .info-tel-contact {
    margin-left: 21px;
  }

  h5 {
    font-size: 12px;
    color: $color-gris;
  }

  p {
    font-size: 20px;
    margin-top: -20px;
    color: $color-gold;
  }


}

.two {
  display: flex;

}

.three {
  display: flex;
}

.blocform {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


.form5 textarea {
  background: transparent;
  border: 1px solid grey;
  resize: none;
  width: 100%;
}

.form6 {
  display: flex;
}

.form6 input {
  background: $color-gold;
  border: none;
}

.email {
  display: flex;
  width: 100%;
  margin-bottom: 25px;

  img {
    object-fit: contain;
  }

  .info-email {
    margin-left: 10px;
  }

  h5 {
    font-size: 12px;
    color: $color-gris;
  }

}

.adress {
  display: flex;
  width: 100%;


  img {
    object-fit: contain;
  }

  .info-adress {
    margin-left: 10px;
  }

  h5 {
    font-size: 12px;
    color: $color-gris;
  }


}

.paris {
  margin: 0;
}

.adresse {
  margin: 0;
}

fieldset {
  margin: 0;
  border: none;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px 20px;

  input {
    background: transparent;
    width: 40%;
    border: none;
    border-bottom: 1px solid rgb(66, 66, 66);
    margin-bottom: 40px;
  }

  textarea {
    background: transparent;
    width: 80%;
    border: none;
    border-bottom: 1px solid rgb(66, 66, 66);
  }
}

#submit {
  background-color: $color-gold;
  padding: 10px 20px;
  color: #f1f1f1;
  width: fit-content;
  border: none;
  margin-left: 20px;
}

.text-email {
  width: 100%;
}



@media all and (min-width: 768px) and (max-width: 1366px) {
  .bloc5 {
    margin-left: 60px;
  }


}

@media all and (min-width: 320px) and (max-width: 767px) {
  body {
    overflow-x: hidden;
  }

  .bloc1 {
    margin: auto;
    width: 90%;
  }

  .bloc2 {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .bloc3 {
    width: 100%;
  }

  .bloc4 {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 45px;
  }

  .text-email,
  .tel-text {
    display: flex;
    flex-direction: column;

    input {
      width: 90%;
    }
  }


  .blocform {
    display: flex;
    flex-direction: row;
  }

  .bloc6 {
    display: flex;
    flex-direction: column;
    width: 90%;
  }

  .bloc7,
  .bloc8 {
    width: 100%;

  }

  .bloc5 {
    margin-left: 40px;
    width: 100%;
    margin-bottom: 15px;
  }



}
