@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gilda+Display&display=swap');


body {
    font-family: 'Barlow', sans-serif;
}



aside {
    height: auto;
    width: 300px;
    background-color: $background-sidebar;
    max-width: 100%;
}

input,
textarea {
    color: $color-gris;

}


.sidebar {
    color: aliceblue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
}



#openmenu {
    display: none;
    position: absolute;
    left: 10px;
    top: 10px;
    z-index: 10000;
}



nav {
    ul {
        margin-top: 30px;

    }


    li {
        list-style: none;
        margin: 20px 0;
        font-size: 12px;
        text-decoration: none;
    }


    a {
        color: $color-gris;
        text-decoration: none;

    }
}

/* a:hover est utilisé pr mettre une couleur sur l'ensemble des liens lorsque l'utilisateur
 survole avec la souris */

a:hover {
    color: $color-gold;
}



h1 {
    font-family: 'Gilda Display', serif;
}



h3 {
    color: aliceblue;
    font-family: 'Gilda Display', serif;

}



.duc {
    color: $color-gold;

}



main {
    display: flex;
}


.bloc1 {
    background-color: $color-grisclair;
    display: flex;
    flex-direction: column;
    width: 100%;
    color: $color-gris;
}



.bloc2 {
    display: flex;
    flex-direction: row;
    margin-left: 80px;
    gap: 1px;

}



.bloc3 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    text-align: justify;
    gap: 1px;

}



.bloc4 {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 10px;
    margin-left: 300px;
    margin: 1px auto;
    border-radius: 4px;
    width: auto;
}




.bloc5 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 100px;
    margin-bottom: 100px;

}




.bloc6 {
    color: rgb(225, 225, 225);
    display: flex;
    flex-direction: row;
    margin-left: 70px;
    gap: 1px;

}


.bloc7 {
    display: flex;
    flex-direction: column;
    gap: 1px;
}

.bloc8 {
    display: flex;
    flex-direction: column;
    margin-left: 500px;
    justify-content: start;
}




.logo2 {
    width: 30px;
    height: 30px;

}



.logo3 {
    width: 45px;
    height: 45px;
}


.num1 {
    color: $color-gold;
    margin-left: 50px;
}

.infore {
    margin-left: 50px;


}

.emaill {
    margin-left: 50px;

}

.adrsse {
    margin-left: 50px;
}

.or {
    color: $color-gold;
    margin-left: 50px;

}

.paris {
    margin-left: 50px;
}


.logotel {
    width: 40px;
    height: 40px;
}


.reseaux {
    width: 170px;
    height: 30px;

}

.regroupement {
    display: flex;
    margin-top: 50px;
    margin-bottom: 170px;
    flex-direction: column;
    margin-top: 50px;
    align-items: center;
    gap: 10px;

}



nav {
    display: flex;
    margin-top: 50px;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}



.info {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    align-items: center;
    gap: 10px;

}


.two {
    display: flex;

}

.three {
    display: flex;
}

.form1 {
    display: flex;
    flex-direction: column;
    background: transparent;
    border: white;
}

.form1 input {
    background: transparent;
}



.form2 {
    display: flex;
}

.form2 input {
    background: transparent;
}




.form3 {
    display: flex;
}

.form3 input {
    background: transparent;

}



.form4 {
    display: flex;
}

.form4 input {
    background: transparent;
}



.form5 {
    display: flex;
}

.form5 textarea {
    background: transparent;
    border: none;
}



.form6 {
    display: flex;
}

.form6 input {
    background: $color-gold;
    border: none;
}



.titreh3 h3 {
    text-align: center;
    margin-bottom: 50px;
    margin-right: 200px;
}