body {
    display: flex;
}

.menuDeGaucheFixe {
    position: fixed;
    left: 20px;
    width: 200px;
    height: 100%;
    padding: 30px;
    background-color: rgb(23, 23, 23);

}

.blocDroit {
    width: 1500px;

    margin-left: 200px;
    background-color: rgb(42, 40, 40);
}